<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Data Types and Variables/src/blue_pelican_lesson_2/Name_that_Celebrity.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="blue_pelican_lesson_2.Name_that_Celebrity"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Data Types and Variables"/>
</launchConfiguration>
